// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #66245b;

// ----------------------------------------------------------------------------
// Widget-clock styles
// ----------------------------------------------------------------------------
.widget-clock {


  background-color: $background-color;

}



.widget-clock h1 {
	font-size: 30px;
}

.widget-clock h2 {
	font-size: 24px;
}

.widget-clock h3 {
	margin-top: 10px;
	font-size: 20px;
}