// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #dc5945;

// ----------------------------------------------------------------------------
// Widget-clock styles
// ----------------------------------------------------------------------------
.widget-clock {


  background-color: $background-color;

}



.widget-clock h1 {
	font-size: 30px;
}

.widget-clock h2 {
	font-size: 24px;
}