.widget-borrel { background-color: rgb(179, 98, 56);}
.widget-borrel h1 {
    font-size: 24px;
}

.widget-borrel h2 {
    font-size: 20px;
}

.widget-borrel h3 {
    margin-top: 10px;
    font-size: 20px;
}