.widget-borrel {
    background-image:url("/assets/beer.gif");
    background-repeat: no-repeat;
    background-size: 100% auto;
    transition-property: background-position-y;
    transition-duration: 100s;
    background-position-y: 360px;
}

.widget-borrel.vullen {
    transition-duration: 10s;
    background-position-y: 0px;
}
.widget-borrel h1 {
    font-size: 24px;
}

.widget-borrel h2 {
    font-size: 20px;
}

.widget-borrel h3 {
    margin-top: 10px;
    font-size: 20px;
}