$background-color:  #6163d2;


.widget-bustime {
	overflow: hidden;
	background-color: $background-color;
}

.widget-bustime table {
	text-align: left;
}

.widget-bustime td, .widget-bustime th {
	padding-right: 15px;
}

.kannie {
	
}