<% content_for :title do %>My super sweet dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Clock"></div>
      <i class="icon-time icon-background"></i>
    </li>

    <li data-pre="0" data-row="0" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="calendar_events" data-pre="0" data-view="Calendar"></div>
    </li>

    <li data-pre="1" data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="calendar_events" data-pre="1"  data-view="Calendar"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="busstop" data-view="Bustime" data-title="Stuff"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="klimato" data-view="Klimato"></div>
    </li>
  </ul>
  <center><div style="font-size: 12px">Try this: curl -d '{ "auth_token": "YOUR_AUTH_TOKEN", "text": "Hey, Look what I can do!" }' \http://<%=request.host%>:<%=request.port%>/widgets/welcome</div></center>
</div>