<script type='text/javascript'>
$(function() {
  // These settings override the defaults set in application.coffee. You can do this on a per dashboard basis.

  Dashing.widget_base_dimensions = [318, 170];
  Dashing.numColumns = 3;
});

</script>
<script type='text/javascript'>
$(function() {
Dashing.gridsterLayout('[{"col":1,"row":1,"size_x":1,"size_y":2},{"col":3,"row":1,"size_x":1,"size_y":1},{"col":3,"row":2,"size_x":1,"size_y":1},{"col":1,"row":3,"size_x":1,"size_y":2},{"col":2,"row":1,"size_x":1,"size_y":2},{"col":2,"row":3,"size_x":2,"size_y":2}]')
});
</script>

<% content_for :title do %>1080p dashboard<% end %>

<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
      <div data-view="Clock"></div>

    </li>

    <li data-pre="0" data-row="0" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="calendar_events" data-pre="0" data-view="Calendar"></div>
    </li>

    <li data-pre="1" data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="calendar_events" data-pre="1"  data-view="Calendar"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
      <div data-id="borrel_events" data-view="Borrel"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
      <div data-id="any" data-view="Pixel"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
      <div data-id="busstop" data-view="Bustime" data-title="Stuff"></div>
    </li>
    <!--<li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
      <div data-id="klimato" data-view="Klimato"></div>
    </li>-->
  </ul>
<!--   <center><div style="font-size: 12px">Try this: curl -d '{ "auth_token": "YOUR_AUTH_TOKEN", "text": "Hey, Look what I can do!" }' \http://<%=request.host%>:<%=request.port%>/widgets/welcome</div></center>
 -->
 </div>